* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #030712;
  color: #1e293b;
  overflow-x: hidden;
}

.App {
  display: flex;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box; 
}

@media screen and (max-width: 780px) {
  .App {
    flex-direction: column;
  }
}
